<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://code.edu.az/schemas/NLog.xsd" xmlns:xsi="http://code.edu.az">
	<!--<variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true:skipFrames=1}" />-->
	<variable name="appName" value="Car Sales System" />

	<variable name="callsite-methodname" value="${callsite:className=true:includeNamespace=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true}" />
	<variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true}" />
	<targets>
		<target name="default" xsi:type="File"
				  fileName="Default.log"
				  layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} - ${logger:shortName=true} - ${message} ${exception:format=tostring}"
				  archiveEvery="Day"
				  archiveFileName="${basedir}/Logs/Default_{#}.log"
				  archiveNumbering="Date"
				  archiveDateFormat="yyyyMMdd"
				  maxArchiveFiles="14"
				  keepFileOpen="true"
            />

		<target name="errors" xsi:type="File"
				  fileName="${basedir}/Logs/Error.log"
				  layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} - ${logger:shortName=true} - ${message} ${exception:format=tostring}"
				  archiveEvery="Day"
				  archiveFileName="${basedir}/Logs/Error_{#}.log"
				  archiveNumbering="Date"
				  archiveDateFormat="yyyyMMdd"
				  maxArchiveFiles="14"
				  keepFileOpen="true"
            />

		<!--<target name="database" xsi:type="Database" >
			<connectionString>Data Source=DESKTOP-L3IGC35;Initial Catalog=TestDB;MultipleActiveResultSets=True;Integrated Security = SSPI"</connectionString>

			
			<commandText>dbo.spLogger</commandText>
			<commandType>StoredProcedure</commandType>
			<parameter name="@application" layout="${var:appName}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@memberName" layout="${var:callsite-methodname}"/>
			<parameter name="@sourceFilePath" layout="${var:callsite-filesource}"/>
			<parameter name="@errorLine" layout="${callsite-linenumber}"/>

		</target>-->

	</targets>
	<rules>
		<logger name="*" levels ="Error,Trace,Debug,Info,Warn" writeTo="default" />
		<logger name="*" levels ="Error,Fatal" writeTo="errors" />
	</rules>
</nlog>
